.edit-controls {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid black;
  position: relative;
}
.edit-controls hr {
  width: 100%;
  margin: 2px 0;
  border: none;
  border-bottom: 2px solid #4c90b9;
}

.edit-control {
  text-align: center;
  /* background: linear-gradient(#4ea0d1, 70%, #3da6e4c9); */
  background: linear-gradient(#3da6e4c9, 30%, #4ea0d1);
  padding: 0.6rem 0;
  position: relative;
}
.edit-control_title {
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}
.edit-control_content {
  color: white;
  font-weight: 500;
}
.edit-control_content input {
  background: none;
  color: white;
  font: inherit;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-right: 1rem;
  text-align: center;
}

.edit-control_content input:focus {
  outline: none;
}
.edit-control_content input::placeholder {
  color: white;
  opacity: 0.7;
}

.edit-control_content button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}
.edit-control_content button.btn-delete {
  width: 90%;
  margin-top: 0.5rem;
}

.edit-control_content button:hover,
.edit-control_content button:active {
  background: white;
  color: #4ea0d1;
  /* text-shadow: 1px 1px 2px rgba(92, 92, 92, 0.6); */
}

.edit-control_content select {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: inherit;
  border-bottom: 1px solid #ffffff8f;
  margin-right: 0.5rem;
  margin-bottom: 0.1rem;
}
.edit-control_content select:focus {
  outline: none;
}

.edit-control_content option {
  background-color: #4ea0d1;
}
.edit-control img {
  position: absolute;
  top: 5px;
  right: 5px;
  max-height: 2rem;
}
