.station {
  background-color: #9ae1ff;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  text-align: center;
}

.station:active {
  cursor: grabbing;
}

.station.station-selected {
  box-shadow: 0 0 8px 2px #ffffff91;
  filter: brightness(1.1);
}
